---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <div style="border-bottom:1px solid LightGray; margin-bottom: 15px;"> 
        <div align="left"><h2>{{ post.title }}</h2></div>
        <div align="right">{{ post.date | date: "%-d %b %Y" }}</div>
      </div>

      {{ post.excerpt }}
      {% if post.content contains site.excerpt_separator %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more &raquo;</a>
      {% endif %}
    </article>
  {% endfor %}
</div>
