
//
// VARIABLES
//

// Colors
//$blue: #4183C4;
//$blue: #308FBF;
$primaryColor: #0088DD;
$secondaryColor: #DD7700;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #bbb;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
